In [ ]:
#tuple
it is immutable type DS
it is used to stored infrequent change
security ---> 

read only 

it is denoted by ()

In [ ]:
list vs tuple

tuple is faster than list 
consume less memory

In [2]:
py_tuple = (1,2,3,4)

In [3]:
py_tuple

(1, 2, 3, 4)

In [4]:
cred = ('admin','admin@123')

In [5]:
cred

('admin', 'admin@123')

In [6]:
cred.insert(2,'python')

AttributeError: ignored

In [7]:
cred

('admin', 'admin@123')

In [8]:
c = (1,1,1,1,2,3,4,56,7,)

In [9]:
c

(1, 1, 1, 1, 2, 3, 4, 56, 7)

In [10]:
type(c)

tuple

In [11]:
c.count(1)

4

In [12]:
c.index(56)

7

In [13]:
p = ('admin','admin@123')

In [14]:
p

('admin', 'admin@123')

In [15]:
p[0]

'admin'

In [17]:
p = (34,34,34,78,90,45,80)

In [18]:
p.index(34)

0

In [19]:
p.index(78)

3

In [20]:
p.index(34353)

ValueError: ignored

In [21]:
p[3]

78

In [22]:
p

(34, 34, 34, 78, 90, 45, 80)

In [23]:
cred

('admin', 'admin@123')

In [6]:
cred = ('admin','new')

In [5]:
cred

NameError: ignored

In [2]:
import copy

In [4]:
cred

NameError: ignored

In [7]:
cred

('admin', 'new')

In [8]:
cred1 = copy.deepcopy(cred)

In [9]:
cred1

('admin', 'new')

In [1]:
py_tuple = (1,3,4,6,78,)

In [2]:
type(py_tuple)

tuple

In [3]:
py_tuple.count(4)

1

In [4]:
p = (1,2,2,2,2,2,4,5,6)

In [5]:
p.count(2)

5

In [6]:
p.remove(4)

AttributeError: 'tuple' object has no attribute 'remove'

In [7]:
cred = ('admin','admin@123')

In [8]:
cred = ('admin','pass@123')

In [9]:
cred

('admin', 'pass@123')

In [ ]:
#interview 

list vs tuple
mutable vs immutable
speed

In [ ]:
as 

list -- project 
tuple -- project

In [10]:
#mathematical operation on tuple

In [11]:
t1 = (1,2,3,4,5)

In [12]:
t2 = ('python','java','c')

In [13]:
t3 = t1+t2

In [14]:
t3

(1, 2, 3, 4, 5, 'python', 'java', 'c')

In [ ]:
+ operator ---

int+int == addition
string + string == concat
tuple+tuple == concat tuple

In [15]:
p = "Scodeen"

In [18]:
k = "class"

In [19]:
p+k

'Scodeenclass'

In [20]:
t1

(1, 2, 3, 4, 5)

In [21]:
t2

('python', 'java', 'c')

In [22]:
t3

(1, 2, 3, 4, 5, 'python', 'java', 'c')

In [ ]:
+ -- int+int =add,str+str =concat -tuple
* --

In [23]:
p = [1,2,3]

In [24]:
p1 = [34,56,78]

In [25]:
p+p1

[1, 2, 3, 34, 56, 78]

In [26]:
t1

(1, 2, 3, 4, 5)

In [27]:
t2

('python', 'java', 'c')

In [28]:
t2+t1

('python', 'java', 'c', 1, 2, 3, 4, 5)

In [29]:
t1+t2

(1, 2, 3, 4, 5, 'python', 'java', 'c')

In [30]:
t1

(1, 2, 3, 4, 5)

In [31]:
t1*4

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [32]:
t1

(1, 2, 3, 4, 5)

In [33]:
t1*'pytjon'

TypeError: can't multiply sequence by non-int of type 'str'

In [34]:
t1+'asdfsd'

TypeError: can only concatenate tuple (not "str") to tuple

In [35]:
t3+3

TypeError: can only concatenate tuple (not "int") to tuple

In [36]:
t1

(1, 2, 3, 4, 5)

In [37]:
t2

('python', 'java', 'c')

In [38]:
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [ ]:
tuple+tuple = concat
tuple*int == duplicate

In [39]:
p

[1, 2, 3]

In [40]:
p*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [42]:
t1

(1, 2, 3, 4, 5)

##

In [43]:
t2

('python', 'java', 'c')

In [45]:
t3 = t1+t2

In [46]:
t3

(1, 2, 3, 4, 5, 'python', 'java', 'c')

In [47]:
p = 'java'

In [48]:
k = 'pythonj'

In [49]:
k+p

'pythonjjava'

In [ ]:
mutable  --> DS --> insertion /deletion/updation
 
immutable --> DS ---> read

In [52]:
t1+t1+t1

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [54]:
'python'+'hadoop'

'pythonhadoop'

In [55]:
t1

(1, 2, 3, 4, 5)

In [58]:
t1*4.5

TypeError: can't multiply sequence by non-int of type 'float'